<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Base64.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>096A54831DF406F200236BA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>096A549C1DF406F300236BA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>096A54A71DF406F300236BA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
